/cpu/.Module.symvers.cmd
/cpu/.moduleCPU.ko.cmd
/cpu/.moduleCPU.mod.cmd
/cpu/.moduleCPU.mod.o.cmd
/cpu/.moduleCPU.o.cmd
/cpu/.modules.order.cmd
/cpu/Module.symvers
/cpu/moduleCPU.mod
/cpu/moduleCPU.mod.c
/cpu/moduleCPU.mod.o
/cpu/moduleCPU.o
/cpu/modules.order

/ram/.Module.symvers.cmd
/ram/.moduleRAM.ko.cmd
/ram/.moduleRAM.mod.cmd
/ram/.moduleRAM.mod.o.cmd
/ram/.moduleRAM.o.cmd
/ram/.modules.order.cmd
/ram/Module.symvers
/ram/moduleRAM.mod
/ram/moduleRAM.mod.c
/ram/moduleRAM.mod.o
/ram/moduleRAM.o
/ram/modules.order

/procesos/.Module.symvers.cmd
/procesos/.modulePRO.ko.cmd
/procesos/.modulePRO.mod.cmd
/procesos/.modulePRO.mod.o.cmd
/procesos/.modulePRO.o.cmd
/procesos/.modules.order.cmd
/procesos/Module.symvers
/procesos/modulePRO.mod
/procesos/modulePRO.mod.c
/procesos/modulePRO.mod.o
/procesos/modulePRO.o
/procesos/modules.order